RAILS_ENV=production
# RAILS_LOG_TO_STDOUT=true

# Database
DATABASE_URL=postgres://postgres:@postgresql:5432/homeland
# DATABASE_POOL=64
REDIS_URL=redis://redis:6379/1

# App Config
# domain=localhost
# admin_emails=admin@admin.com
