RAILS_ENV=production
# RAILS_LOG_TO_STDOUT=true

# Nginx
# NGINX_WORKER_CONNECTIONS=65535

# Database
DATABASE_URL=postgres://postgres:@postgresql:5432/homeland
# DATABASE_POOL=64
REDIS_URL=redis://redis:6379/1

# App Config
app_name=Homeland
https=false
# domain=localhost
# cert_domain=*.localhost
# modules=all
# profile_fields=all
# admin_emails=admin@admin.com
# asset_host=


