version: "3"

services:
  postgresql:
    container_name: 'homeland_postgresql'
    image: postgres:9.5-alpine
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data

  redis:
    container_name: 'homeland_redis'
    image: redis:4-alpine
    ports:
      - '6379:6379'
    volumes:
      - ./data/redis:/data
      - ./etc/redis.conf:/etc/redis.conf
    command: redis-server /etc/redis.conf

  elasticsearch:
    container_name: 'homeland_elasticsearch'
    image: elasticsearch:5-alpine
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms256m -Xmx512m"
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data
    ports:
      - '9200'
      - '9300'

  app: &app_base
    container_name: 'homeland_app'
    image: homeland/homeland:${IMAGE_VERSION:-latest}
    env_file:
      - app.secret.env
      - app.local.env
    links:
      - elasticsearch
      - postgresql
      - redis
    logging:
      options:
        max-size: "1g"
        max-file: "10"
    volumes:
      - ./shared/.well-known:/home/app/homeland/public/.well-known
      - ./data/uploads:/home/app/homeland/public/uploads
      - ./shared/cache/uploads-thumb:/home/app/cache/uploads-thumb
      - ./shared/system:/home/app/homeland/public/system
      - ./shared/ssl:/home/app/ssl
      - ./log:/home/app/log
      - ./tmp/pids:/home/app/pids
      - ./log:/home/app/homeland/log
      - ./tmp:/home/app/homeland/tmp
      - ./etc/nginx/conf.d:/etc/nginx/conf.d
    command: /home/app/homeland/bin/docker-start
    ports:
      - "7000:7000"

  app_backup:
    <<: *app_base
    container_name: 'homeland_app_backup'
    command: bundle exec puma -C config/puma-backup.rb
    ports:
      - "7001:7001"

  worker:
    <<: *app_base
    container_name: 'homeland_worker'
    ports: []
    command: bundle exec sidekiq -C config/sidekiq.yml

  web:
    <<: *app_base
    container_name: 'homeland_web'
    links:
      - app
      - worker
    command: /etc/nginx/start
    ports:
      - "80:80"
      - "443:443"
